<div id="backgroundimg">
<p id="notice"><%= notice %></p>


<div class="dash-name">
  <h2>Welcome, <%=current_user.first_name%>! </h2>

  <% if current_user.city.present? && current_user.state.present? %>
    <% if !current_user.city.nil? || !current_user.state.nil? %>
      <h3> <%= [current_user.city, current_user.state].join(', ')%></h3>
    <% end %>
  <% end %>

  <h5><section class="stats">
     <%= render 'shared/stats' %>
   </section></h5>
  </div>

<div class="row">
  <div class="col-sm-6">
    <div class="well textcenter scrollbaractivity">
      <h3 class="dashheader"> Activity Feed </h3>
      <% if !@activities.nil? %>
      <% @activities.each do |activity| %>
      <% if activity.trackable %>
      <div class="activity">
        <%= link_to activity.owner.first_name, activity.owner if activity.owner%>
        <%= render_activity activity %>
      </div>
      <% end%>
      <% end %>
      <% end %>
      </div>
    </div>
    <div class="col-sm-6 panel panel-default textcenter scrollbarb2g">
      <h3 class="dashheader">Your Upcoming Bandtogethers</h3>
      <br>
      <% @bandtogethers.each do |bandtogether| %>
      <h4><%= link_to bandtogether.title, bandtogether %></h4>
      <p><%=link_to bandtogether.concert.title, bandtogether.concert%> |
        <%= bandtogether.start_time%>
        <br>
        Attending:
        <%= Membership.where(bandtogether_id: bandtogether.id).count + 1 %></p>
        <% end %>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-4 panel panel-default center-block">
        <h3 class="dashheader">Create a New Bandtogether</h3>
        <%= render '/bandtogethers/form' %>
          </div>
          <div class="col-sm-1"></div>

      <div class="col-sm-7 well">
      <h3 class="dashheader">Upcoming Concerts</h3>
      <br>
      <form action="/concerts" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search" >
      </form>
    </br>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start</th>
          <th>End</th>
          <th>Artist</th>
          <th>City</th>
          <th>State</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @upcoming_concerts.each do |concert| %>
        <tr>
          <td><a href = 'concerts/<%=concert.id %>'><%= concert.title %></a></td>
          <td><%= concert.start.strftime("%I:%M") %></td>
          <td><%= concert.end.strftime("%I:%M") %></td>
          <td><%= concert.artist %></td>
          <td><%= concert.city %></td>
          <td><%= concert.state %></td>
          <% if !current_user.nil? %>
          <% if current_user.has_role? :admin %>
          <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
          <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <div class="row">
    <div class="panel panel-default">
      <h3 class="dashheader"> Your Profile Pictures</h3>
      <%=render_gallery_for @pictures%>
    </div>
  </div>
</div>
