
<p id="notice"><%= notice %></p>

<div class="dash-name">
  <h2>Welcome, <%=current_user.first_name%>! </h2>

  <% if current_user.city.present? && current_user.state.present? %>
    <% if !current_user.city.nil? || !current_user.state.nil? %>
      <h3> <%= [current_user.city, current_user.state].join(', ')%></h3>
    <% end %>
  <% end %>

  <h5><section class="stats">
     <%= render 'shared/stats' %>
   </section></h5>
  </div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <div class="well textcenter scrollbaractivity">
      <h3 class="dashheader"> Activity Feed </h3>
      <% @activities.each do |activity| %>
      <div class="activity">
        <%= link_to activity.owner.first_name, activity.owner if activity.owner%>
        <%= render_activity activity %>
      </div>
      <% end %>
      </div>
    </div>



    <div class="col-sm-5 panel panel-default textcenter scrollbarb2g">
      <h3 class="dashheader">Your Upcoming Bandtogethers</h3>
      <br>
      <% @bandtogethers.each do |bandtogether| %>
      <h4><%= link_to bandtogether.title, bandtogether %></h4>
      <p><%=link_to bandtogether.concert.title, bandtogether.concert%> |
        <%= bandtogether.start_time%>
        <br>
        Attending:
        <%= Membership.where(bandtogether_id: bandtogether.id).count + 1 %></p>
        <% end %>
    </div>
<div class="col-sm-1"></div>

        </div>

    <div class="row">
      <div class="col-sm-6 well textcenter">
        <h3 class="dashheader">Create a New Bandtogether</h3>
        <%= render '/bandtogethers/form' %>
          </div>
      </div>
