



<br>
<div class="row">
<div class=".col-sm-6">


</div>
</div>


<h2><%=@user.first_name%> <%=@user.last_name%></h2> <%= image_tag(@user.avatar.url(:medium)) %>

<p><%=@user.city%>, <%=@user.state%></p>



<section class="stats">
   <%= render 'shared/stats' %>
 </section>
<%= render 'components/follow_button' if user_signed_in? %>

<br>


<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>
<br>
<br>


<h4>Email</h4>
<h5><%=@user.email%></h5>

<% if !@user.age.nil? %>
  <h4>Age</h4>
  <h5><%=@user.age%></h5>
<% end %>


<% if !@user.gender.nil? %>
  <% if !@user.gender.empty? %>
    <h4>Gender</h4>
    <h5><%=@user.gender%></h5>
  <% end %>
<% end %>

<% if !@user.postal_code.nil? %>
  <h4>Postal Code</h4>
  <h5><%=@user.postal_code%></h5>
<% end %>

<% if !@user.about.nil? %>
  <% if !@user.about.empty? %>
    <h4>About Me</h4>
    <h5><%=@user.about%></h5>
  <% end %>
<% end %>


<% if !@user.artists.nil? %>
  <% if !@user.artists.empty? %>
    <h4>Favorite Artists</h4>
    <h5><%=@user.artists%></h5>
  <% end %>
<% end %>

<br>
<br>



<h3> <%=@user.first_name%>'s Bandtogethers</h3>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Concert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandtogethers.each do |bandtogether| %>
      <tr>
        <td><%=link_to bandtogether.title, bandtogether %></td>
        <td><%= bandtogether.start_time %></td>
        <td><%= bandtogether.end_time %></td>
        <td><%= bandtogether.description %></td>
        <td><%= bandtogether.concert.title %></td>
        <% if @user == current_user %>
          <td><%= link_to 'Edit', edit_bandtogether_path(bandtogether) %></td>
          <td><%= link_to 'Destroy', bandtogether, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<% if @user == current_user %>
  <%= render '/bandtogethers/form' %>
<% end %>
