



<br>
<div class="row">
<div class=".col-sm-6">


</div>
</div>


<h2><%=@user.first_name%> <%=@user.last_name%></h2> <%= image_tag(current_user.avatar.url(:medium)) %>

<p><%=@user.city%>, <%=@user.state%></p>



<section class="stats">
   <%= render 'shared/stats' %>
 </section>
<%= render 'components/follow_button' if user_signed_in? %>

<br>


<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% end %>
<br>
<br>
<label>Email</label>
<p><%=@user.email%></p>


<p></p>

<label>Age</label>
<p><%=@user.age%></p>

<label>Gender</label>
<p><%=@user.gender%></p>



<label>Postal Code</label>
<p><%=@user.postal_code%></p>

<label>About Me</label>
<p><%=@user.about%></p>

<label>Favorite Artists</label>
<p><%=@user.artists%></p>

<hr>

<% if @user == current_user %>
  <%= render '/bandtogethers/form' %>
<% end %>



<p> <%=@user.first_name%>'s Bandtogethers</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Concert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandtogethers.each do |bandtogether| %>
      <tr>
        <td><%= bandtogether.title %></td>
        <td><%= bandtogether.start_time %></td>
        <td><%= bandtogether.end_time %></td>
        <td><%= bandtogether.description %></td>
        <td><%= bandtogether.concert.title %></td>
        <td><%= link_to 'Show', bandtogether %></td>
        <td><%= link_to 'Edit', edit_bandtogether_path(bandtogether) %></td>
        <td><%= link_to 'Destroy', bandtogether, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
