<section class="stats">
   <%= render 'shared/stats' %>
 </section>

<%= render 'components/follow_button' if user_signed_in? %>

<br>


<h1> My Profile</h1>

<label>Email</label>
<h2><%=@user.email%></h2>

<label>First Name</label>
<h2><%=@user.first_name%></h2>

<label>Last Name</label>
<h2><%=@user.last_name%></h2>

<label>Age</label>
<h2><%=@user.age%></h2>

<label>Gender</label>
<h2><%=@user.gender%></h2>

<label>City</label>
<h2><%=@user.city%></h2>

<label>state</label>
<h2><%=@user.state%></h2>

<label>Postal Code</label>
<h2><%=@user.postal_code%></h2>

<label>About Me</label>
<h2><%=@user.about%></h2>

<label>Favorite Artists</label>
<h2><%=@user.artists%></h2>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_registration_path %>
  <br>


  <%= render '/bandtogethers/form' %>
<% end %>


<h1> <%=@user.first_name%>'s Bandtogethers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Concert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandtogethers.each do |bandtogether| %>
      <tr>
        <td><%= bandtogether.title %></td>
        <td><%= bandtogether.start_time %></td>
        <td><%= bandtogether.end_time %></td>
        <td><%= bandtogether.description %></td>
        <td><%= bandtogether.concert.title %></td>
        <td><%= link_to 'Show', bandtogether %></td>
        <td><%= link_to 'Edit', edit_bandtogether_path(bandtogether) %></td>
        <td><%= link_to 'Destroy', bandtogether, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
