<h1> My Profile</h1>

<label>Email</label>
<h2><%=@user.email%></h2>

<label>First Name</label>
<h2><%=@user.first_name%></h2>

<label>Last Name</label>
<h2><%=@user.last_name%></h2>

<label>Age</label>
<h2><%=@user.age%></h2>

<label>Gender</label>
<h2><%=@user.gender%></h2>

<label>City</label>
<h2><%=@user.city%></h2>

<label>state</label>
<h2><%=@user.state%></h2>

<label>Postal Code</label>
<h2><%=@user.postal_code%></h2>

<label>About Me</label>
<h2><%=@user.about%></h2>

<label>Favorite Artists</label>
<h2><%=@user.artists%></h2>
