

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">About
          </h1>
        </div>
      </div>
      <!-- /.row -->

      <!-- Intro Content -->
      <div class="row">

        <div class="col-md-6">
          <h2 class="about-header">BandTogether</h2>
          <p>Meet new friends from all around the world and go to concerts, shows, and music festivals!</p>
          <p>BandTogether is a place for music enthusiasts to come together and share a wonderful experience. People can connect with one another over their exceptional love for music.</p>
          <p>Come join our beautiful community in an endless adventure into the world of music culture. The joy of life comes from our encounters with new experiences, and there is no greater joy than to have an endlessly changing horizon.</p>
        </div>
        <div class="col-md-6">
          <%= image_tag 'about_pic.jpeg', :class => 'img-responsive' %>

        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Our Team</h2>
        </div>
        <div class="row">
        <div class="col-md-3 text-center background">
          <div class="thumbnail">
            <%= image_tag 'mackenzie.png', :class => 'img-responsive', :id => 'Face' %>
            <div class="caption">
              <h3>Mackenzie Hicks<br>
                <small>Full Stack Developer / Festival Enthusiast</small>
              </h3>
              <ul class="list-inline">
                <li><a href="https://www.linkedin.com/in/mackenziehicks" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="https://github.com/mackenziehicks" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center background">
          <div class="thumbnail">
              <%= image_tag 'remy.jpg', :class => 'img-responsive', :id => 'Face2' %>
            <div class="caption">
              <h3>Remy Tan<br>
                <small>Full Stack Developer / Festival Enthusiast</small>
              </h3>
              <ul class="list-inline">
                <li><a href="https://www.linkedin.com/in/remy-tan" target="_blank"><i class="fa fa-2x fa-linkedin-square" ></i></a>
                </li>
                <li><a href="https://github.com/Remdogg" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 text-center background">
          <div class="thumbnail">
              <%= image_tag 'amy.png', :class => 'img-responsive', :id => 'Face3' %>
            <div class="caption">
              <h3>Amy Schools<br>
                <small>Full Stack Developer / Festival Enthusiast</small>
              </h3>
              <ul class="list-inline">
                <li><a href="https://www.linkedin.com/in/amyschools" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="https://github.com/amyschools" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center background">
          <div class="thumbnail">
              <%= image_tag 'jack.png', :class => 'img-responsive', :id => 'Face4' %>
            <div class="caption">
              <h3>Jack Fernbacher<br>
                <small>Full Stack Developer / Festival Enthusiast</small>
              </h3>
              <ul class="list-inline">
                <li><a href="https://www.linkedin.com/in/jackfernbacher" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
                </li>
                <li><a href="https://github.com/jackfern" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      </div>
      <!-- /.row -->


      <!-- Our Community -->
      <div class="row">
        <div class="col-lg-12">
        <hr>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="http://dm3381rcqf07k.cloudfront.net/multisite.insomniac.com/wp-content/uploads/sites/15/2016/07/Nocturnal-Wonderland-700x430.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="http://dm3381rcqf07k.cloudfront.net/multisite.insomniac.com/wp-content/uploads/sites/4/2015/06/EDCLV2015_0619_193727-6422_MVA-1024x683.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="http://www.thecoastnews.com/wp-content/uploads/2015/03/stilt-performers-2.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="https://s-media-cache-ak0.pinimg.com/736x/ff/a6/5d/ffa65daf46ccc60e67dabef2844acc32.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="https://c2.staticflickr.com/4/3911/14789536363_09ff8ce190_b.jpg" alt="">
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <img class="img-responsive customer-img" src="http://skincitybodypainting.com/wp-content/uploads/2014/05/SkinCityEDC13_470-X3.jpg" alt="">
        </div>
      </div>
      <!-- /.row -->


    </div>
    <!-- /.container -->
