</div> <!--this closes the container div from layout-->
<div class="jumbotron">
  <div class="container">
    <h1>Bandtogether</h1>
    <div class="btn btn-primary">
      <%= link_to '<i class="fa fa-facebook" aria-hidden="true"></i> Join with Facebook'.html_safe, user_facebook_omniauth_authorize_path %>
    </div>
    <div class="btn btn-primary">
      <%= link_to '<i class="fa fa-envelope" aria-hidden="true"></i> Join with Email'.html_safe, new_user_registration_path  %>
    </div>
  </div>
</div>
<div><!--reopens container div from layout-->

<p id="notice"><%= notice %></p>

<h1>Upcoming Concerts</h1>
<form action="/concerts" method="get">
 <input type="text" name="search">
 <input type="submit" value="Search" >
</form>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start</th>
      <th>End</th>
      <th>Artist</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= concert.title %></td>
        <td><%= concert.start %></td>
        <td><%= concert.end %></td>
        <td><%= concert.artist %></td>
        <td><%= concert.city %></td>
        <td><%= concert.state %></td>
        <td><%= link_to 'Show', concert %></td>
        <% if !current_user.nil? %>
        <% if current_user.has_role? :admin %>
        <td><%= link_to 'Edit', edit_concert_path(concert) %></td>
        <td><%= link_to 'Destroy', concert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<% if !current_user.nil? %>
<% if current_user.has_role? :admin %>
<%= link_to 'New Concert', new_concert_path %>
<% end %>
<% end %>

<div id="map">Google map will appear here...</div>
         <script type="text/javascript">
         handler = Gmaps.build('Google');
         handler.buildMap({
           provider: {},
           internal: {id: 'map'}
         },
         function() {
           markers = handler.addMarkers(<%=raw @pindrop.to_json %>);
           handler.bounds.extendWith(markers);
           handler.fitMapToBounds();
           handler.getMap().setZoom(8);
           if(navigator.geolocation)
           navigator.geolocation.getCurrentPosition(displayOnMap);

         }
       );
       function displayOnMap(position){
         var marker = handler.addMarker({
           lat: position.coords.latitude,
           lng: position.coords.longitude

         });
         var image = '<%= asset_path 'map-person.png' %>';
         marker.serviceObject.icon = image;
         handler.map.centerOn(marker);
       };
       </script>
