<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @concert.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @concert.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @concert.end %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @concert.state %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>

<h3>Bandtogethers for <%=@concert.title%></h3>

<p>
  <ul>
    <% @concert.bandtogethers.each do |bandtogether| %>
      <div class="listing">
        <li>
          <h4><%= link_to bandtogether.title, bandtogether %></h4>
          <strong><%= bandtogether.start_time%><h6></strong>
          Attending:
          <%= Membership.where(bandtogether_id: bandtogether.id).count + 1 %>
          <br>
          <br>

        </li>
      </div>
    <% end %>
  </ul>
</p>
