<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @concert.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @concert.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @concert.end %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @concert.state %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>

<h1>Bandtogethers</h1>




<p>
  <ul>
    <% @concert.bandtogethers.each do |bandtogether| %>
        <li>
            <%= link_to bandtogether.title, bandtogether %>
        </li>
    <% end %>
  </ul>
</p>
