<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @concert.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @concert.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @concert.end %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>City:</strong>
  <%= @concert.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @concert.state %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>

<%= form_for(@bandtogether) do |f| %>
  <% if @bandtogether.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bandtogether.errors.count, "error") %> prohibited this bandtogether from being saved:</h2>

      <ul>
      <% @bandtogether.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <div class="form-group">
    <%= f.label :bandtogether_avatar %>
    <%= f.file_field :bandtogether_avatar %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= hidden_field(:bandtogether, :concert_id, value: @bandtogether.concert.id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h3>Bandtogethers for <%=@concert.title%></h3>

<p>
  <ul>
    <% @concert.bandtogethers.each do |bandtogether| %>
      <div class="listing">
        <li>
          <h4><%= link_to bandtogether.title, bandtogether %></h4>
          <strong><%= bandtogether.start_time%><h6></strong>
          Attending:
          <%= Membership.where(bandtogether_id: bandtogether.id).count + 1 %>
          <br>
          <br>

        </li>
      </div>
    <% end %>
  </ul>
</p>
