<%= form_for(@bandtogether) do |f| %>
  <% if @bandtogether.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bandtogether.errors.count, "error") %> prohibited this bandtogether from being saved:</h2>

      <ul>
      <% @bandtogether.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
<div class = "row">
  <div class = "col-sm-8">
    <div class="form-group">
      <%= f.label :bandtogether_avatar, class: 'control-label' %>
      <%= f.file_field :bandtogether_avatar, class: "form-control "%>
    </div>

    <div class="form-group">
      <%= f.label :title, class: "control-label" %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :start_time, class: "control-label" %><br>
      <%= f.text_field :start_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :end_time, class: "control-label" %><br>
      <%= f.text_field :end_time, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :concert, class: "control-label" %><br>
      <div class="form-control">
        <%= select(:bandtogether, :concert_id, @concerts_for_select) %>
    </div>
    </div>

      <%= f.submit "Create Bandtogether", class: "btn btn-default btn-block"%>
    </div>
  <div class = "col-sm-4"></div>
</div>
<% end %>
<br>
