<p id="notice"><%= notice %></p>

<h1>Listing Bandtogethers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Concert</th>
      <th>Organizer</th>
      <th>Attending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bandtogethers.each do |bandtogether| %>
      <tr>
        <td><%= bandtogether.title %></td>
        <td><%= bandtogether.start_time %></td>
        <td><%= bandtogether.end_time %></td>
        <td><%= bandtogether.description %></td>
        <td><%= bandtogether.concert.title %></td>
        <td><%= bandtogether.organizer.first_name %></td>
        <td><%= Membership.where(bandtogether_id: bandtogether.id).count %>
        <td><%= link_to 'Show', bandtogether %></td>
        <% if user_signed_in? %>
        <% if bandtogether.organizer_id == current_user.id%>
          <td><%= link_to 'Edit', edit_bandtogether_path(bandtogether) %></td>
          <td><%= link_to 'Destroy', bandtogether, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Bandtogether', new_bandtogether_path %>
<% end %>
