<p id="notice"><%= notice %></p>

<h1>Browse Bandtogethers</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>Concert</th>
      <th>Organizer</th>
      <th>Attending</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if !@bandtogethers.nil?%>
    <% @bandtogethers.each do |bandtogether| %>
      <tr>
        <td><a href = 'bandtogethers/<%=bandtogether.id %>'><%= bandtogether.title %></a></td>
        <td><%= image_tag(bandtogether.bandtogether_avatar.url(:thumb)) %></td>
        <td><%= bandtogether.title %></td>
        <td><%= bandtogether.start_time %></td>
        <td><%= bandtogether.end_time %></td>
        <td><%= bandtogether.description %></td>
        <td><%= bandtogether.concert.title %></td>
        <td><%= bandtogether.organizer.first_name %></td>
        <!-- Adding one to the membership count to include organizer -->
        <td><%= Membership.where(bandtogether_id: bandtogether.id).count + 1 %>
        <% if user_signed_in? %>
          <% if bandtogether.organizer_id == current_user.id || (current_user.has_role? :admin) %>
            <td><%= link_to 'Edit', edit_bandtogether_path(bandtogether) %></td>
            <td><%= link_to 'Destroy', bandtogether, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          <% end %>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Bandtogether', new_bandtogether_path %>
<% end %>
