<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bandtogether.title %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @bandtogether.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @bandtogether.end_time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bandtogether.description %>
</p>

<p>
  <strong>Concert:</strong>
  <%= @bandtogether.concert.title %>
</p>

<p>
  <strong>Going:</strong>
  <%= Membership.where(bandtogether_id: @bandtogether.id).count %>
</p>
<p>
  <%@bandtogether.members.each do |member| %>
    <li><a href="/users/<%=member.id%>"> <%=member.first_name%> <%=member.last_name%></a></li>
    <%end%>
</p>


<% if @bandtogether.organizer == current_user %>
<%else%>
  <%= render 'components/join_button' %>
<% end %>



<% if @bandtogether.organizer == current_user %>
<%= link_to 'Edit', edit_bandtogether_path(@bandtogether) %> |
<% end %>

<br>

<%= link_to 'Back', bandtogethers_path %>
